.header__lang-link {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    align-self: center;
}

@media screen and (max-width: 424px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}