.header__lang-link {
    width: 1.875rem;
    height: 1.75rem;
    position: relative;
    align-self: center;
    justify-self: end;
}

@media screen and (max-width: 424px) {
    .header__lang-link {
        width: 1.375rem;
        height: 1.25rem;
    }
}