.cover__link {
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    aspect-ratio: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-image: url("../../../image/background.jpg");
    background-size: contain;
    height: 100%;
}

.cover__link:before {
    content: "";
    position: absolute;
    background-color: #2A2C2F;
    transition: opacity .2s ease-in;
    opacity: 0.3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.cover__link:hover:before {
    opacity: 0.8;
}

@media screen and (max-width: 460px) {
    .cover__link {
       gap: 1rem;
    }
}