.place__title {
    font-family: 'Inter Bold', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0 0 3rem 0;
    align-self: end;
}

@media screen and (max-width: 765px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        margin: 0 0 2rem 0;
    }
}

@media screen and (max-width: 424px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
    }
}