.place__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0 0 3rem 0;
    align-self: end;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 20.625rem;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        margin: 0 1rem 3rem 1rem;
    }
}

@media screen and (max-width: 424px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;
        margin: 0 1rem 2rem 1rem;
    }
}