.intro__list {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
    padding: 0;
    margin: 0 0 5.75rem 0;
}

@media screen and (max-width: 768px) {
    .intro__list {
        margin: 2.0625rem 1.5rem 5.5rem 1.5rem;
    }
}


@media screen and (max-width: 320px) {
    .intro__list {
        margin: 2.125rem 1rem 4rem 1rem;
    }
}