.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 984px;
    margin: 0 auto;
    padding: 0 48px;
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 0;
    }
}