.cover__subtitle {
    font-family: 'Inter Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 113%);
    width: 22.5rem;
    margin: 0;
    z-index: 2;
}


@media screen and (max-width: 768px) {
    .cover__subtitle {
        transform: translate(-50%, 87%);
    }
}

@media screen and (max-width: 460px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 16.5rem;
        position: absolute;
        transform: translate(-49%, 37%);
    }
}