.lead__title {
    font-family: 'Inter Bold', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    padding: 58px 0 32px 0;
    max-width: 720px;
    text-align: center;
    margin: 0;
}