.lead__title {
    font-family: 'Inter Bold', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    padding: 3.5rem 0 2rem 0;
    max-width: 45rem;
    text-align: center;
    margin: 0;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .lead__title {
        font-size: 60px;
        line-height: 64px;
        padding: 3rem 0 2rem 0;
    }
}

@media screen and (max-width: 424px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        padding: 3rem 0 1rem 0;
    }
}