.footer__links {
    font-family: 'Inter Light', sans-serif;
    display: flex;
    list-style: none;
    gap: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    transition: opacity .3s ease-in;
    margin: 0;
}

@media screen and (max-width: 710px) {
    .footer__links {
        flex-direction: column;
        gap: 32px;

    }
}