.footer__links {
    font-family: 'Inter', sans-serif;
    display: flex;
    list-style: none;
    gap: 1.125rem;
    padding: 0;
    transition: opacity .3s ease-in;
    margin: 0;
}

@media screen and (max-width: 710px) {
    .footer__links {
        flex-direction: column;
        gap: 2rem;
    }
}