.place__webcyti {
    display: flex;
    flex-direction: column;
    align-self: end;
    margin: 0 0 48px 0;
}

@media screen and (max-width: 630px) {
    .place__webcyti {
        margin: 0 0 32px 0;
    }
}