.place__paragraph {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
    color: #FFFFFF;
    margin: 0 0 1.5625rem 0;
}

.place__paragraph:last-child {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        margin: 0 1rem 1.5625rem 1rem;
    }

    .place__paragraph:last-child {
        margin: 0 1rem 0 1rem;
    }
}