.footer__copyright {
    font-family: 'Inter Light', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
}


@media screen and (max-width: 710px) {
    .footer__copyright {
        padding: 48px 0 0 0;
        align-self: flex-start;
    }
}
