.cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 74rem;
    margin: 0 auto;
}

@media screen and (max-width: 425px) {
    .cover {
        margin: 4.125rem 0 0 0;
    }
}