.cover__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
    max-width: 35rem;
    margin: 0 auto;
}

@media screen and (min-width: 460px) and (max-width: 767px) {
    .cover__title {
        font-size: 50px;
        line-height: 40px;
    }
}

@media screen and (max-width: 460px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 18rem;
    }
}