.place {
    margin: 80px 48px 0 48px;
    display: grid;
    grid-gap: 0 40px;
    grid-auto-rows: auto;
    max-width: 984px;
    grid-template-columns: minmax(288px, 460px) minmax(288px, 484px);
}

@media screen and (max-width: 1024px) {
    .place {
        grid-gap: 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        margin: 72px 24px 0 24px;
        grid-gap: 0 28px;
    }
}

@media screen and (max-width: 630px) {
    .place {
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 425px) {
    .place {
        margin: 50px 16px 0 16px;
    }
}