.place {
    margin: 5rem 3rem 0 3rem;
    display: grid;
    grid-gap: 0 2.5rem;
    max-width: 61.5rem;
    grid-template-columns: minmax(18rem, 28.75rem) minmax(18rem, 30.25rem);
}

@media screen and (max-width: 1024px) {
    .place {
        grid-gap: 0 2rem;
        margin: 5rem 0 0 0;
        grid-template-columns: minmax(18rem, 27.5rem) minmax(18rem, 28.5rem);
    }
}

@media screen and (max-width: 800px) {
    .place {
        grid-template-columns: minmax(18rem, 21.25rem) minmax(18rem, 22rem);
        margin: 4.5625rem 1.5rem 0 1.5rem;
        grid-gap: 0 1.75rem;
    }
}

@media screen and (max-width: 765px) {
    .place {
        grid-template-columns: 1fr;
        margin: 3.125rem 0 0 0;
    }
}