.footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 74rem;
    margin: 0 auto;
    padding: 5.75rem 3rem 1.5rem 3rem;

}

@media screen and (max-width: 710px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 5.5rem 1.5rem 1.5rem 1.5rem;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        padding: 4rem 1rem 1.5rem 1rem;
    }
}