.header__lang-link_active:before {
    content: '';
    bottom: -2px;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
}

@media screen and (max-width: 424px) {
    .header__lang-link_active:before {
        width: 22px;
        height: 2px;
        bottom: -4;
    }
}